<h1>Welcome to quora</h1> <!-- title for quora website -->

 <h2>Sign up for an account!</h2>  <!--sign up form-->
<form method="post" action="/signup"> <!--using post method -->
    <!--gets email  -->
    <input type=text placeholder="Email" name="user[email]"><br>
    <!--gets password  -->
    <input type=password placeholder="Password" name="user[password]"></br>
    <input type=submit value="Sign up">
</form>
